FormControl Horizontal {
    height: auto;
}

FormControl Button {
    border: none;
}

FormControl Input.error {
    border-subtitle-color: $warning;
}

FormControl Select {
    border: solid transparent;
}

FormControl Select.error {
    border-subtitle-color: $warning;
}

FormGroup.error {
    border: wide $error;
}
