/*
 * NOTE:
 * - most elements with IDs are containers / wrappers
 * - final widgets are accessed excplicitly
 * TODO!: clean unsed styles
 * 
 *
 */


VerticalScroll {
    scrollbar-size-vertical: 1;
    scrollbar-color: royalblue 70%;
}

SettingsScreen {
    /* background: red; */
}

.-no-agent MonitorPanel {
    display: none;
}

.-show-new-agent MonitorPanel {
    display: none;
}

#instrukt-panel {
    /* background: darkgreen; */
    width: 35w;
    height: 100%;
    dock: left;
    overflow-y: auto;
}


#instrukt-panel #console-window {
    height: 1fr;
    border: heavy white 20%;
    background: $background-lighten-2;
}

#instrukt-panel #instrukt-prompt {
    height: 3;
}

#instrukt-prompt Input {
    background: $background-lighten-2;
    outline: solid $foreground 20%;
    dock: bottom;
    /* margin-bottom: 1; */
}

#instrukt-prompt Input:focus>.input--cursor {
}

#instrukt-prompt Input:focus {
    outline: hkey royalblue 80%;
}


#console-window TextLog {
    background: transparent;
    padding: 0;
    padding-left: 1;
    padding-right: 0;
    padding-bottom: 0;
    /* border: round red; */
    height: 1fr;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-size-vertical: 1;
    scrollbar-gutter: stable;
    scrollbar-color: $foreground  20%;
}

#monitor-panel {
    width: 1fr;
    height: 1fr;
}

#monitor-panel #realm-container { /* realm window container */
    /* border: hkey $primary-lighten-2 80%; */
    /* background: red; */
    height: 4fr;
    display: none;
}

#monitor-panel.-show-realm #realm-container {
    display: block;
}

#realm-container .window {
}

#realm-container TextLog {
    /* background: orange; */
    overflow-y: auto;
    overflow-x: hidden;
}

#monitor-panel AgentWindow .header, #realm-container .header {
    background: $primary-background;
    dock: top;
    height: 1;
}


#monitor-panel AgentWindow {
    /* border: hkey $panel-lighten-3; */
    /* border: none; */
    height: 5fr;
}

AgentWindow TextLog {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
}


AgentWindow .header {
    height: 1;
}

AgentWindow #agent-menu {
    height: 1fr;
}

#agent-menu #agent-menu-info {
    width: 1fr;
}

#agent-menu AgentMenu.-nerd {
    width: 9;
}

#agent-menu Button {
    /* background: $primary-background; */
    border: none;
    height: 1;
    min-width: 3;
}

AgentWindow #agent-header-info {
    height: 1fr;
}

AgentStatusBar {
    background: $foreground 20%;
    height: 1;
    align: right middle;
}

AgentStatusBar .spacer {
    width: 1fr;
}

AgentStatusBar.ready .spinner {
    visibility: hidden;
}

AgentStatusBar .spinner {
    /* background: blue; */
    /* color: $foreground 90%; */
    width: 1;
    /* padding: 0 1; */
    content-align: left middle;
}

AgentStatusBar Label {
    padding: 0 1;
    border-left: solid $foreground 20%;
    color: $foreground 50%;
}

#monitor-panel .header Static, .header .header-entry {
    width: 2fr;
}

AgentStatus.ready {
    /* background: pink; */
    color: $success-lighten-2;
    padding-left: 1;
}

/* filler inside the header between left and right side */
#monitor-panel .header #middle-filler {
    /* background: orange; */
    width: 2fr;
}

#monitor-panel .header #middle-filler Label {
    text-align: center;
}


#monitor-panel .header #realm-name {
    text-align: right;
}

#monitor-panel #agent-spinner {
    width: 100%;
    display: none;
    content-align-horizontal: center;
}

MonitorPanel {
    /* background: red; */
}

AgentTabs {
    background: $foreground 10%;
    /* background: royalblue 60%; */
    color: white;
    /* background: pink; */
}

AgentTabs Tabs {
    height: 1;
}

AgentTabs Tab {
    height: 1;
    padding: 0 1;
    color: $foreground;
}



AgentTabs Tabs Underline {
    display: none;
}

AgentTabs Tab.-active {
    /* color: $success; */
    text-style: none;
    background: royalblue;
}

AgentTabs Tab:hover {
    background: teal;
}

/* ToastRack { */
    /* background: blue; */
    /* align: right bottom; */
/* } */

/* ToastHolder { */
/*     align-horizontal: right; */
/*     offset: 1 -1; */
/* } */

/* Toast { */
    /* padding: 0; */
    /* margin: 0; */
/*     width: 30; */
/* } */



.--padding-top-1 {
    padding-top: 1;
}


/* Foooter */
Footer {
    background: $panel;
}

Footer > .footer--key {
    background: $foreground 20%;
}

Footer > .footer--highlight-key {
    background: teal;
}

Footer > .footer--highlight {
    background: royalblue 80%;
}
